.home {
  width: 100%;
  /* margin-top: 200px; */
  /* background: #000; */
}
.side-popup {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
  background: #fff;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  z-index: 5;
  transition: transform 0.3s ease;
}
.side-popup.open {
  transform: translateX(0);
}
.popup-contents {
  padding: 20px;
  color: #000;
}
